<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Think Ink | Find You Next Tattoo</title>

 

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  

    <!-- LINK TO CSS GOES HERE -->

    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">


    <!-- LINK TO  font -->


    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Noto+Sans|Nunito" rel="stylesheet">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe56kBedEPlgT_NnffILHycZisGKnUznQ&libraries=geometry"></script>

<!-- font-family: 'Lobster Two', cursive; -->
<!-- font-family: 'Open Sans', sans-serif;
font-family: 'Lobster', cursive; -->
<!-- font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
 -->
</head>




<body>

<div id="wrapper"> 
 
  <div id="header_profile"> 

<img id="logo" src="/images/ThinkInkLogo.png">
    <div class="top_banner_profile">
      <div class="navigation">
      <ul style="margin-left: 520px;">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul><hr>
    </div>
    </div>
   

    </div>
  

  <div id="page_content"> 
  
    {{{ body }}}


</body></html>