<div class="left_side_bar">
  <div class="col_1">
    <div class="box3" style="margin-top: 10px;">
      <h1 class="lobster">Featured Artist</h1>
      <p>Feature to come!</p>
      <br>
      <br>

    </div>
  </div>
</div>


<div class="right_section">
  <div class="common_content">
    <h2 class="lobster" style="margin-top: 10px;">Support</h2>

    <p>If you have questions about our service search or are an artist and would like to optimize your search please contact
      us via e-mail: example@gmail.com</p>
  </div>
</div>
</div>

<div class="clear"></div>
    
    <div id="footer">Copyright &copy; ThinkInk 2018. 
    
    </div>
  
  </div>

</div>

  

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>